Source: gmanedit
Section: gnome
Priority: optional
Build-Depends: gettext (>=0.10.35), autoconf, debhelper (>=5), libgtk2.0-dev, pkg-config, quilt (>= 0.40), autotools-dev
Maintainer: Jorge Dardón <jorge@xelalug.org>
Homepage: http://gmanedit2.sourceforge.net
Standards-Version: 3.9.0

Package: gmanedit
Architecture: any
Depends: ${shlibs:Depends},${misc:Depends}
Description: GTK+ man pages editor
 Gtk+ Manpages Editor is an editor for man pages that runs on X with GTK+.
 .
 Gmanedit is an application which allows you to edit manual pages (man) on 
 Linux/Unix systems.
 .
 It is like most common HTML editors but more easy. You need to know manpages
 format.
